table {
  width: 70%;
  border-collapse: collapse;
  margin: 100px;
  margin-left: 300px;
}

th,
td {
  padding: 6px;
  text-align: left;
  border: 1px solid #080808;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
  color: rgb(4, 15, 5);
  text-align: center;
  padding: 0px 1px;

}

tr:hover {
  background-color: #F3FDE8;
  /* border: 2px solid blueviolet; */

}

.dd {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(15, 15, 17);

}


/* thead {
  border-bottom: 2px solid black; /* Adjust the color and thickness of the line as needed */
/* } */
/* 
tr:nth-child(even) {
  background-color: #161515;
} */

/* Remove background-color and adjust border properties for minimal lines */
th,
td {
  background-color: transparent;
}

tr {
  background-color: transparent;
}




/* app.component.css */
.small-search-bar {
  padding: 8px;
  font-size: 12px;


  /* Adjust the font size as needed */



  width: 250px;
  /* Set the width of the search bar */
  height: 30px;

  font-size: 14px;
  /* background-color: rgb(236, 241, 245); */
  color: rgb(14, 13, 13);
  border-radius: 10px;
  position: relative;
  left: 290px;
  bottom: 20px;
  border: 2px solid rgb(154, 213, 235);

}

table td:nth-child(6) {
  padding: 0px 50px;
}



table td {
  text-align: center;
}