<app-dashboard></app-dashboard>
<div>
  <table>
    <thead>
      <div>
        <input type="text" [(ngModel)]="searchText" placeholder="Search..." class="small-search-bar">
      </div>
      <tr>
        <th class="dd">ServiceRequest<br>Date</th>
        <th class="dd">Service Request By</th>
        <th class="dd">Phone No</th>
        <th class="dd">Email Id</th>
        <th class="dd">Service Requested</th>
        <th class="dd">Other Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of sortedData | filter: searchText">
        <td class="aa">{{ user.date }}</td>
        <td class="bb">{{user.name }}</td>
        <td>{{user.phoneNumber}}</td>
        <td> {{ user.email }}</td>
        <td> {{ user.service }}</td>
        <td>{{ user.message }} </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <app-dashboard></app-dashboard>
<div>
  <table>
    <thead>
      <div>
        <input type="text" [(ngModel)]="searchText" placeholder="Search..." class="small-search-bar">
      </div>
      <tr>
        <th class="dd">Service Request Date</th>
        <th class="dd">Service Request By</th>
        <th class="dd">Phone No</th>
        <th class="dd">Email Id</th>
        <th class="dd">Service Requsted</th>
        <th class="dd">Other Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filter: searchText">
        <td>{{ user.Date }}</td>
        <td>{{user.Name }}</td>
        <td>{{user.Phno}}</td>
        <td> {{ user.EmailId }}</td>
        <td> {{ user.service }}</td>
        <td>{{ user.message }} </td>
      </tr>
    </tbody>
  </table>
</div>  -->
